body
{
    border: 3px black ridge;
    padding:0;
    margin:0;
    color:white;
}

header
{
    background-image:url(../Images/kindajean_@2X.png);
    padding:10px;
    width:100%;
    color:#8a2be2;
    font-family: Arial,serif;
    text-align: center;
	text-shadow: 2px 2px 4px black;
}

h1
{
    color:#8a2be2;
    font-family: Arial,serif;
    text-align: center;
	text-shadow: 2px 2px 4px black;
}

main
{
    background-image:url(../Images/symphony.png);
    padding:10px;
    width:100%;
}

h2
{
    color:maroon;
}

p
{
    text-align:justify;
    color: blue;
}

ul li
{
    list-style-type:none;
    color:black;
}

footer
{
    background-image:url(../Images/school.png);
    padding:10px;
    width:100%;
    bottom:0;
}

.coordonnees
{
    text-align:center;
    width:30%;
    margin-left:30px;
    display:inline-block;
    vertical-align:middle;
   
}

.img-circle{
	display: inline-block;
	margin-left: 15px;
	margin-top: 5px;
	
}

.introduction
{
    text-align: center;
}

.conteneur{
    margin:15px;
    padding:10px;
}

.colonne{
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

iframe
{
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    
}